<a href="https://colab.research.google.com/github/devipri/python-day-2/blob/master/python_day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")
print("hello\
world")
print('HELLO \nhave a nice day')
print('Name \t number \t Age \t marks')
print('Welcome \a')

hello world
helloworld
HELLO
have a nice day
Name 	 number 	 Age 	 marks
Welcome 

In [2]:
print('hi... it\'s me bunny...')
print(''' (\_/)
( •,•)
(")_(") ''')

hi... it's me bunny...
 (\_/)
( •,•)
(")_(")

In [3]:
Name = "priya"
Age  =  21
percentage = 87.2
print(f"I'm {Name}. \nI'm {Age}Yrs old.\nI scored {percentage} in my degree ")

I'm priya.
I'm 21Yrs old.
I scored 87.2 in my degree

In [4]:
X= 5
print(id(X))
y= 5
print(id(y))

10914624
10914624

In [5]:
a= 29.5
b=29.5
print(id(a))
print(id(b))
print(a is b)
print(a is not b)

140282792787520
140282792787496
False
True

In [6]:
colour= "orange"
print('a' in colour)
print('b' in colour)
print('d' not in colour)

True
False
True

In [7]:
print(a is b)
print(a is not b)
print(29/5)
print(29%5)
print(29//5)
print(2**5)
d=9
p=11
print(d==p)
print(d!=p)
print(d<=p)
print(d>=p)
print(d<p)
print(d>p)
print(d!=p and a==b)
print(d!=p or a==b)
print(not (d!=p and a==b))

False
True
5.8
4
5
32
False
True
True
False
True
False
True
True
False